
.body{
  background-image: url('https://wallpaperaccess.com/full/4081182.jpg');
  background-size: 1080px;
}

.image{
  border-radius: 50%;
  margin-top: 20px;

}
.form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 300px;
  height: 500px;
  background-color: #ffffff;
  opacity: 0.6;
}
}
.button {
  background-color: #009933;
  color: white;
  border-radius: 20%;

}
